@media (min-width: 320px) and (max-width: 480px) {
    body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}


.container{
    font-size: 28px;
    color: white;
    font-weight: bolder;
}
.clock{
    font-size: 13px;
    height: 80px;
    margin-top: 200px;
    text-align: center;
    color: rgb(240, 171, 171);
}
.clock:hover{
  
    color: rgb(224, 0, 0);
}
.develp{
    font-size: 8px;
    height: 280px;
    margin-top: 130px;
    text-align: center;
    color: rgb(240, 171, 171);
}
.develp:hover{
    color: white;
}
}
